root = true

# unix-style newlines at the bottom of every file.
[*]
end_of_line = lf
charset = utf-8

# tab indentation
indent_style = space
indent_size = 2

# make sure every file has a blank line at the end.
insert_final_newline = true

# remove any whitespace characters preceding newline characters.
trim_trailing_whitespace = true

# give operators breathing room, but not brackets.
spaces_around_operators = true
spaces_around_brackets = false

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4
