name: dispatch
on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  run:
    name: Pushes repository_dispatch events out to repositories built from this template.
    runs-on: ubuntu-20.04
    if: |
      (github.event.repository.name == 'root-template') &&
      (!contains(github.event.head_commit.message, 'Initial commit'))
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ap-southeast-2

      - name: Lint
        uses: jmpa-oss/linter@v0.0.1

      - name: Dispatch
        run: ./bin/dispatch.sh

      - name: Notify Slack
        if: always()
        uses: jmpa-oss/job-to-slack@v0.0.1
        with:
          webhook: ${{ secrets.SLACK_GITHUB_WEBHOOK_URL }}
          status: ${{ job.status }}
